.product-item {
    padding: $spacing-16;
    border-bottom: 1px solid $meli-light-gray;
    
    .thumb {
        width: 100%;
    }

    .info-product {
        a {
            color: $meli-dark-gray;
            font-size: $font-size-24;
            
            &:hover {
                color: $meli-gray;
                text-decoration: none;
            }
        }

        img {
            padding-left: $spacing-16;
            vertical-align: 0;
        }

        h2 {
            margin-top: $spacing-32;
            font-size: $font-size-18;
        }
    }

    .address {
        p {
            margin-top: $spacing-16;
            font-size: $font-size-12;
            color: $meli-gray;
        }
    }
}
