//colors
$meli-yellow: #FFE600;
$meli-dark-gray: #333333;
$meli-gray: #999999;
$meli-medium-gray: #666666;
$meli-light-gray: #EEEEEE;
$meli-blue: #3483FA;

//spacing
$spacing-16: 16px;
$spacing-32: 32px;

//font sizes
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-24: 24px;
$font-size-28: 28px;
$font-size-46: 46px;

//border
$border-radius: 4px;
